[user]
	name = Gaurav Singh
	email = gs1293@gmail.com
[color]
	ui = auto
	status = auto
	branch = auto
[core]
	editor = /usr/bin/vim
[merge]
	tool = vimdiff
[credential "https://github.com"]
	username = gs1293
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[difftool]
	prompt = false
